$common-background-color:rgb(233, 230, 224);
$common-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
#cards{
  padding-top: 100px;
  padding-left: 40px;
  #card{
    box-shadow: 1px 1px 3px 1px rgb(173, 171, 171);
    height: 300px;
    width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    img{
      height: 70%;
      width: 95%;
    }
    h3{
      text-transform: capitalize;
    }
  }
}

.productDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: -50px;
  padding-top: 70px;

  .productImage {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

    img {
      width: 500px;
      height: 530px;
    }

    .smallImage {
      display: flex;
      flex-direction: row;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  .about{
    margin-left: -100px;
    h3{
      text-transform: capitalize;
      font-size: 50px;
    }
    .Category{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    
    }
    .size{
      display: flex;
      gap: 30px;
      a{
        text-decoration: none;
        color: black;
        border: 0.5px solid grey;
        padding: 15px;
          &:hover{
        background-color: black;
        color: white;
      }
      }
    
    }
    .buyNow{
      margin-top: 40px;
      a{
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 5px 60px;
        border-radius: 10px;
        &:hover{
          background-color: rgb(120, 118, 118);
          color: black;
        }
        
      }
    }
  }
 .share{
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 50px;
        .shareTo{
            display: flex;
            // justify-content: center;
            align-items: center;
            gap: 30px;
        }
       
}
 .clock{
            display: flex;
            align-items: center;
            gap: 30px;
           
        }
    .truck{
        display: flex;
            align-items: center;
            gap: 30px;
    }    
}

.footer{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 60px 140px;
    justify-content: center;
    align-items: start; 
    width: 100%;
    
    h1{
        font-size: 50px;
    color: black;
    font-family:$common-font ;
    letter-spacing: 2px;
    font-weight: lighter;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        gap: 20px;
        p{
            margin-top: 30px;
            line-height: 30px;
        }
        img{
            height: 30px;
            margin-top: 20px;
            margin-bottom: -80px;
        }
        h4{
         margin-top: 30px;
         margin-bottom: -35px;
        }

    }
   border-bottom: 1px solid white;
}

