body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .navbar {
  display: block;
  position: relative;
}

.header .navbar nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  margin-top: -80px;
  z-index: 100;
}

.header .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
  color: black;
}

.header .navbar nav ul a {
  text-decoration: none;
  color: black;
}

.header .navbar nav ul a h1 {
  font-size: 50px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
}

#dropdown {
  position: relative;
  top: 20%;
}

#dropdown #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  padding: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 30px;
  position: absolute;
  top: 20%;
  left: 70%;
}

#dropdown #menu a {
  text-decoration: none;
  color: black;
}

#signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup h3 {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 100px;
}

#signup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  gap: 30px;
}

#signup form .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 5px 10px;
}

#signup form .detail input {
  border: none;
  outline: none;
}

#signup form button {
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
}

#signup form button:hover {
  background-color: antiquewhite;
  color: black;
}

.footer {
  margin-top: 60px;
  background-color: #e9e6e0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 140px 40px 140px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-bottom: 1px solid white;
}

.footer h1 {
  font-size: 50px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  gap: 20px;
}

.footer div p {
  margin-top: 30px;
  line-height: 30px;
}

.footer div img {
  height: 30px;
  margin-top: 20px;
  margin-bottom: -80px;
}

.footer div h4 {
  margin-top: 30px;
  margin-bottom: -35px;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: #e9e6e0;
}
@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 60px 20px;
        width: 1200px;
    }

    .footer h1 {
        font-size: 40px;
    }

    div p {
        margin-top: 20px;
        line-height: 25px;
    }
    footer{
      width: 1200px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 50px 15px;
        width: 1300px;
        
    }

    .footer h1 {
        font-size: 30px;
    }

    div p {
        margin-top: 15px;
        line-height: 20px;
    }

    img {
        height: 25px;
    }

    h4 {
        margin-top: 20px;
        margin-bottom: -30px;
    }
}
/*# sourceMappingURL=index.css.map */